*   {
    padding: 0;
    margin: 0;
}
header  {
    background: white;
    background-size: cover;
    height: 81px;
}
.slider {
    background-image: url("../img/night-city.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 491px;
    text-align: center;
}
.slider-h1  {
    font-size: 61px;
    color: #cccece;
    padding-top: 102px;
    padding-bottom: 13px;
    font-family: bebas_neue_regularregular, sans-serif;
}
.slider-p   {
    font-size: 14px;
    color: #cccece;
    padding-bottom: 54px;
    margin-left: 155px;
    margin-right: 155px;
    font-family: ubunturegular, sans-serif;
}
.slider-href   {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: #f98561;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
    font-family: ubuntu_condensedregular, sans-serif;
}
.slider-li  {
    height: 420px;
}
.our-services::before  {
    content: "Our Services";
    background: #2190c1;
    height: 27px;
    width: 145px;
    text-align: center;
    color: white;
    position: absolute;
    padding-top: 10px;
    border-radius: 4px;
    top: -4%;
    left: 50%;
    margin-left: -60px;
    font-family: bebas_neue_regularregular, sans-serif;
}
.our-services   {
    background: #f4f4f4;
    background-size: cover;
    position: relative;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.main-wrap  {
    width: 930px;
    margin: 0 auto;
}
.service    {
    width: 164px;
    text-align: center;
    display: inline-block;
    padding-right: 83px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.service-mod    {
    padding-right: 0;
    float: right;
}
.service-img    {
    margin-bottom: 18px;
}
.service-h3 {
    font-size: 17px;
    padding-bottom: 14px;
    color: #515862;
    font-family: bree_serifregular, sans-serif;
}
.service-p  {
    font-size: 11px;
    margin-left: 10px;
    margin-right: 10px;
    color: #515862;
    font-family: ubunturegular, sans-serif;
}
.service-a  {
    text-decoration: none;
    font-family: ubuntubold, sans-serif;
}
.portfolio  {
    background: #2e3e4f;
    background-size: cover;
    height: 518px;
}
.portfolio-h3   {
    font-size: 28px;
    color: #f98561;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: bree_serifregular, sans-serif;
}
.pf-works   {
    background: #2190c1;
    color: white;
    float: right;
    margin-top: 33px;
    border: 0px;
    padding: 8px;
    border-radius: 5px;
}
.gallery    {
    margin-bottom: 20px;
    font-size: 0;
}
.galleryItem {
    display: inline-block;
    margin-right: 42px;
    background: #bebebe;
    height: 200px;
    width: 262px;
    border: 10px solid white;
    position: relative;
}
.gallery-href   {
    text-decoration: none;
    outline: none;
}
.galleryItem::before    {
    content: url("../img/camera-icon.png");
    position: absolute;
    left: 50%;
    margin-left: -22px;
    top: 50%;
    margin-top: -16px;
    opacity: 1;
    transition: 0.3s;
}
.galleryItem-mod    {
    margin-right: 0px;
}
.galleryItem:hover::before {
    opacity: 0;
}
.galleryItem:hover .pf-hover-block   {
    opacity: 1;
}
.pf-hover-block {
    border: 1px solid white;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    margin-left: -62px;
    top: 50%;
    margin-top: -15px;
    opacity: 0;
    transition: 0.3s;
}
.details    {
    color: white;
    font-size: 17px;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    font-family: bree_serifregular, sans-serif;
    padding-top: 2px;
    padding-right: 15px;
}
.details-img    {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 10px;
}
.pf-content {
    width: 280px;
    display: inline-block;
    vertical-align: top;
    padding-right: 40px;
}
.pf-content-mod {
    padding-right: 0px;
    float: right;
}
.pf-h4  {
    color: #f98561;
    font-size: 17px;
    margin-bottom: 13px;
    font-family: bree_serifregular, sans-serif;
}
.pf-p   {
    color: white;
    font-size: 11px;
    font-family: ubunturegular, sans-serif;
}
.offer  {
    background: #f4f4f4;
    background-size: cover;
}
.offer-wrap  {
    width: 930px;
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 45px;
    border-bottom: 1px solid #d9d9d9;
}
.offer-h2   {
    padding-top: 29px;
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: #2190c1;
    margin-bottom: 16px;
    font-family: bebas_neue_regularregular, sans-serif;
}
.ww-offer-a {
    font-size: 13px;
}
.under-h2-p {
    font-size: 12px;
    margin-left: 88px;
    margin-right: 88px;
    text-align: center;
    padding-bottom: 32px;
    font-family: ubunturegular, sans-serif;
}
.ww-offer    {
    display: inline-block;
    width: 190px;
    vertical-align: top;
    padding-right: 46px;
    padding-bottom: 30px;
}
.ww-offer-mod   {
    padding-right: 0px;
    float: right;
}
.ww-offer-h4    {
    color: #2b99cc;
    font-size: 17px;
    margin-bottom: 15px;
    font-family: bree_serifregular, sans-serif;
}
.ww-offer-p {
    font-size: 11px;
    font-family: ubunturegular, sans-serif;
}
.offer-button   {
    float: right;
    margin-right: 15px;
    background: #2190c1;
    border: 0;
    color: white;
    border-radius: 2px;
    font-size: 11px;
    margin-top: 10px;
    font-family: ubunturegular, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;

}

